<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs991_group_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cs991_group_project">

        <activity
            android:name=".user_screens.Feedback"
            android:exported="false" />
        <activity
            android:name=".user_screens.MyProfile"
            android:exported="false" />
        <activity
            android:name=".admin_screens.AdminEditChosenLesson"
            android:exported="false" />
        <activity
            android:name=".admin_screens.AdminEditLesson"
            android:exported="false" />
        <activity
            android:name=".admin_screens.AdminEditLanguage"
            android:exported="false" />
        <activity
            android:name=".admin_screens.AdminCreateLesson"
            android:exported="false" />
        <activity
            android:name=".admin_screens.AdminCreateLanguage"
            android:exported="false" />
        <activity
            android:name=".admin_screens.AdminAddLessonLanguageSelect"
            android:exported="false" />
        <activity
            android:name=".user_screens.SetExperienceLevel"
            android:exported="false" />
        <activity
            android:name=".user_screens.Menu"
            android:exported="false" />
        <activity
            android:name=".user_screens.LessonComplete"
            android:exported="false" />
        <activity
            android:name=".user_screens.AddLanguage"
            android:exported="false" />
        <activity
            android:name=".user_screens.Quiz"
            android:exported="false" />
        <activity
            android:name=".user_screens.Lessons"
            android:exported="false" />
        <activity
            android:name=".user_screens.Dictionary"
            android:exported="false" />
        <activity
            android:name=".login_screens.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".login_screens.ForgotPasswordLinkSent"
            android:exported="false" />
        <activity
            android:name=".login_screens.RegisterUser"
            android:exported="false" />
        <activity
            android:name=".admin_screens.AdminHome"
            android:exported="false" />
        <activity
            android:name=".user_screens.UserHome"
            android:exported="false" />
        <activity
            android:name=".login_screens.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>